@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
    body{
        overflow: hidden;
    }
    .il-blocks{
        display: block;
        z-index: 99;
        overflow:hidden;
    }
    .il-block p{
        position:absolute;
        margin-top:1rem;
        text-align:left;
        margin-left:1rem;
        font-size:3.5rem;
        font-weight:700;
        letter-spacing:2px;
        color: rgb(40, 66, 211);
    }
    .il-block img{
        display:block;
        position:absolute;
        margin:auto;
        margin-top:4rem;
        margin-left:2rem;
        width:auto;
        height: 20rem;
       /* animation:float 1s linear infinite alternate-reverse; */
    }
    @keyframes float {
        from{margin-top:3.5rem;}
        to{margin-top:4rem;}
    }
    .container-main{
        display: block;
        padding: 1rem;
        height: 60vh;
        /* width: 100vw; */
    }
    .b-a{
        display: grid;
        padding: 1rem auto;
        justify-content: center;
        align-items: center;
        place-items: center;
        margin-top: 25rem;
    }
    .b-a input{
        border: none;
        outline: none;
        background: none;
        background:none;
        padding: 0.7rem;
        border-bottom: 2px solid teal;
        width: 15rem;
        margin-bottom: 1rem;
        letter-spacing: 1px;
        font-weight:700;
        transition: 0.5s;
        
    }
    .b-a input:focus{
        border-bottom: 2px solid rgb(40, 66, 211);
        color: rgb(40, 66, 211);
    }
    
    .b-b{
        display: flex;
        justify-content: space-between;
        align-items:center;
        text-align:center;
    }
    
    .b-b .reset, .b-b span{
        outline: none;
        border: none;
        background: none;
        color: rgb(40, 66, 211);
        padding: 0.5rem;
        border-radius: 1.2rem;
        width: 12rem;
        height: 2rem;
        font-size: 0.9rem;
        text-align: center;
        text-decoration:none;
        margin-top:0.5rem; 
        margin-left:-2rem;
    }
    .b-b .submit{
        border: none;
        outline: none;
        background: none;
        background: rgb(40, 66, 211);
        color: white;
        padding: 0.5rem;
        border-radius: 1.2rem;
        width: 7rem;
        height: 2.5rem;
        font-size: 0.8rem;
        text-align: center;
    }
    .user-console{
        text-align: center;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 2px;
        color:red;
        margin-top: 2rem;
    }
    
@media screen and (min-height: 731px) {
    .b-a{
        margin-top: 28rem;
    }
    .b-a input{
        margin-bottom: 2.5rem;

    }
    .b-b{
        margin-top: 1.5rem;
    }

}
@media screen and (min-height: 740px) {
    .b-a{
        margin-top: 28rem;
    }
    .b-a input{
        margin-bottom: 2.5rem;

    }
    .b-b{
        margin-top: 1.5rem;
    }

}
@media screen and (min-height: 667px) and (max-height: 700px){
    .b-b{
        margin-top: 0.5rem;
    }

}
@media screen and (min-height: 701px) and (max-height : 730px) {
    .b-a{
        margin-top: 26rem;
    }
    .b-b{
        margin-top: 2rem;
    }

}