@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
:root {
  color-scheme: only light;
}
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;   
  overflow:hidden;
  box-sizing: border-box;
}
body{
  background: #fcfcfc;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.header-container{
  display: flex;
	position:fixed;
	top:1rem;
  left:0;
  right:0;
  justify-content: space-between;
  align-items: center;
  margin:0.5rem auto 2rem auto;
  padding:0.5rem;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  color:  #03cae4;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  overflow: hidden;
  width: 90vw;
}
.header-container input{
  border: none;
  background-color: none;
  outline: none;
  width:7rem;
  color:  #03cae4;
  border: none;
  background-color: none;
  font-size: 1rem;
  font-family: inherit;
  overflow: hidden;
  
}
.c-s-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  height: 3rem;
}
.class-name{
  margin: 0 5rem 0 0;
  padding: 0;
  text-align: center;
}
.score-section{
	display:block;
	position:fixed;
	top:2rem;
	left:2rem;
	color:lightblue;
	font-weight:bold;
	font-size:1.2rem;
}
.ques-num-cont{
	display:block;
	font-weight:bold;
	font-size:1.1rem;
}
.quiz-container , .quiz-container-user{
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin:6rem auto 2rem auto;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width:90vw;
  overflow: hidden;
}
.container-ongoing-user{
  width: 90vw;
  margin: 7rem auto auto auto;
}
.quiz-box-user{
  margin: 1rem auto auto auto;
  color: #03cae4;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem;

}
.quiz-container input , .quiz-container-user input , .quiz-container-user label{
	display:inline-block;
	border:none;
	outline:none;
	background:none;
	font-size:1.1rem;
	margin:0.5rem auto;
	
	accent-color: blue;
}
.quiz-container input:not(.answer , #submit) {
	width:75vw;
}
.quiz-container #correct{
	margin-top:2.5rem;
}
.quiz-header , .quiz-header-user{
  padding: 1rem;

}
#question , #question-user{
	font-size:1.2rem;
	font-weight:600;
}
h2{
  padding: 1rem;
  text-align: center;
  margin: 0;
}
ul{
  list-style-type: none;
  padding: 0;
}
ul li{
  font-size: 1.1rem;
  margin: 1rem 0;
}
ul li label{
  cursor: pointer;
}
.quiz-container #submit , .quiz-container-user #submit-user, #ending{
  background-color: #03cae4;
  color: #fff;
  border: none;
  display: block;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 0.7rem 1.3rem;
  position:absolute;
  right:2rem; bottom:3rem;
  border-radius:1rem;
  overflow:hidden;
}
#ending{
	left:2rem; right:auto; bottom:3.5rem;
  padding: 0.7rem 1rem;
	appearance:none;
}
.reload-user-quiz{
  background-color: #03cae4;
  color: #fff;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 1.3rem;
}
button:active{
  outline: none;
  background-color: #44b927;
}
.warning-note{
  color: #f00;
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0 2rem;
  padding: 0;
  text-align: left;

}
.nav-bar{
  display: flex;
  position: fixed;
  bottom: 1rem;
  left:1rem;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 0.5rem;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  color:  #03cae4;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  overflow: hidden;
  width: 90vw;
}
.user-nav{
  font-size: 1.2rem;
}
.vertical-line i{
  border-right: 1px solid #03cae4;
}
.quiz-nav{
  font-size: 1.2rem;
}
#class-in , #subject-in{
  text-transform: capitalize;
}

@media screen and (min-height:670px) and (max-height:720px){
  .quiz-container{
    margin: 5rem auto 4rem auto;
  }
}
@media screen and (min-height:720px) and (max-height:820px){
  .quiz-container{
    margin: 8rem auto 5rem auto;
  }
}
@media screen and (min-height:820px){
  .quiz-container{
    margin: 10rem auto 5rem auto;
  }
}